*, *::after, *::before{
    box-sizing:border-box;
    font-family:'Courier New', Courier, monospace;
    font-size:22px;
    font-weight: 500;
    color:white;

}
body{
    padding:0;
    margin:0;
    background-color:#d3dfe9;
    display:flex;

}
.border{
    border:2px solid black;
    display: flex;;
    align-items: center;
    justify-content: center;
    height:600px ;
    width:500px;
    box-shadow: 12px 8px 20px black;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    position: static;
    border-radius:20px;

}



.calculator{
    margin:55px;
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5,80px);
    grid-template-rows: minmax( auto) repeat(5, 80px);
    min-height:50vh;
   
    

}
.wynik{
    grid-column: 1 /-1;
    background-color:#333533;
    border-radius: 30px;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content: space-between;
    word-wrap:break-word;
    word-break: break-all;
    margin-top:30px;
    min-height:110px;
    box-shadow: 1px 2px 1px  ;
    margin-bottom:9px;


}
.poprzednie-dzialanie{
    font-size:16px;
    font-weight:400;
    color: rgba(255,255,255, .8);
    padding-right:25px;
    padding-top:10px;
}
.aktualne-dzialanie{
    font-size:30px;
    padding-right:25px;
    padding-bottom:10px;
    
}
button{
    
    margin:2px 2px;
    cursor:pointer;
    height:80px;
    border-radius: 50px;
    border:2px solid #fefffe;
    background-color:#242423;
    outline:none;
    box-shadow: 1px 2px 1px black ;
    padding:6px 6px;
  
}
button:hover, button:focus{
   
     transition:background-colo 0.3s ease; 
 }
button:active{
    background-color:rgba(32, 32, 31, 0.55);
}
.col-dwa{
    grid-column:span 2;

}
.row-dwa{
    grid-row:span 2;
    height:160px;
    
}


.dark-mode-switch {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.switch-label {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #686767;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}
#darkModeSwitch{
    opacity: 0;
}

#darkModeSwitch:checked + .switch-label {
    background-color: #2ecc71; 
}

.switch-label::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s ease;
}

#darkModeSwitch:checked + .switch-label::before {
    transform: translateX(20px);
}


.dark-mode {
    background-color: #424242; 
    color: #ecf0f1; 

}


 
