*, *::after, *::before{
    box-sizing:border-box;
    font-family:'Courier New', Courier, monospace;
    font-size:22px;
    font-weight: 500;
    color:white;

}
body{
    padding:0;
    margin:0;
    background-color:#6c757d;
    display:flex;

}
.border{
    border:2px solid black;
    display: flex;;
    align-items: center;
    justify-content: center;
    height:600px ;
    width:500px;
    box-shadow: 12px 8px 20px black;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    position: static;

}
.box-exit{
    display: flex;
    height: 15px;
    width:15px;
    border:solid 2px red;
    margin-left:760px;
    margin-top:110px;
    position: fixed;
    justify-content: center;
    align-items: center;
}
ion-icon{
    font-size:large;
    
}
.box-minimalizing{
    display: flex;
    height: 15px;
    width:15px;
    
    position:fixed;
    margin-top: 110px;
    margin-left:735px;
    border:solid 2px yellow;
    
}


.box-changeWindow{
    display: flex;
    height: 15px;
    width:15px;
    border:2px solid green;
    position:fixed;
    margin-top:110px;
    margin-left:710px;
    
}


.calculator{
    margin:55px;
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5,80px);
    grid-template-rows: minmax( auto) repeat(5, 80px);
    min-height:50vh;
    

}
.wynik{
    grid-column: 1 /-1;
    background-color:#333533;
    border-radius: 30px;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content: space-between;
    word-wrap:break-word;
    word-break: break-all;
    margin-top:30px;
    min-height:110px;
    box-shadow: 1px 2px 1px  ;
    margin-bottom:9px;


}
.poprzednie-dzialanie{
    font-size:16px;
    font-weight:400;
    color: rgba(255,255,255, .8);
    padding-right:25px;
    padding-top:10px;
}
.aktualne-dzialanie{
    font-size:30px;
    padding-right:25px;
    padding-bottom:10px;
    
}
button{
    
    margin:2px 2px;
    cursor:pointer;
    height:80px;
    border-radius: 50px;
    border:1px solid #333533;
    background-color:#242423;
    outline:none;
    box-shadow: 1px 2px 1px  ;
    padding:6px 6px;
  
}
button:hover, button:focus{
   
    transition:background-color0.3s ease;
  
    
}
button:active{
    background-color:rgba(36,36,35, .55);
}
.col-dwa{
    grid-column:span 2;

}
.row-dwa{
    grid-row:span 2;
    height:160px;
    
}
