*, *::after, *::before{
    box-sizing:border-box;
    font-family:'Courier New', Courier, monospace;
    font-size:22px;
    font-weight: 500;
    color:white;

}
body{
    padding:0;
    margin:0;
    background-color:#6c757d;

}
.calculator{
    margin:25px;
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5,80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    min-height:70vh;

}
.wynik{
    grid-column: 1 /-1;
    background-color:#333533;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content: space-between;
    padding:20px;
    word-wrap:break-word;
    word-break: break-all;
    margin-top:183px;
    min-height:120px;


}
.poprzednie-dzialanie{
    font-size:16px;
    font-weight:400;
    color: rgba(255,255,255, .8);
    padding-bottom:20px;

}
.aktualne-dzialanie{
    font-size:30px;
    
}
button{
    cursor:pointer;
    height:80px;
    border:1px solid #333533;
    background-color:#242423;
    outline:none;
}
button:hover, button:focus{
    background:rgba(36,36,35, .55);
}
.col-dwa{
    grid-column:span 2;

}
.row-dwa{
    grid-row:span 2;
    height:160px;
    
}